<!-- Password without floating label -->
<ng-container *ngIf="!floatLabel">
  <label *ngIf="label" class="{{ labelClass! }}">{{ label }}</label>
  <ng-container *ngTemplateOutlet="password"></ng-container>
</ng-container>

<!-- Password with floating label -->
<span *ngIf="floatLabel" class="p-float-label">
  <ng-container *ngTemplateOutlet="password"></ng-container>
  <label *ngIf="label" class="{{ labelClass! }}">{{ label }}</label>
</span>

<!-- Childern template -->
<ng-template #content>
  <ng-content select="[password]"></ng-content>
</ng-template>

<!-- Password template -->
<ng-template #password>
  <ng-container [formGroup]="_form">
    <p-password
      [tabIndex]="-1"
      (click)="touched()"
      [formControlName]="controlName"
      [toggleMask]="toggleMask"
      [feedback]="feedback"
      [placeholder]="placeholder"
      [styleClass]="styleClass"
      class="{{
        (_form.controls[controlName].status | formStatus : 'INVALID') &&
        (_form.controls[controlName].touched ||
          _form.controls[controlName].dirty)
          ? 'ng-invalid ng-dirty'
          : ''
      }}"
    >
      <ng-template pTemplate="footer">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </ng-template> </p-password
  ></ng-container>
</ng-template>
